section{
    background-color: #0B0D13;
    min-height: calc(100vh);
}
.container1{
    display: flex;
}
.cel{
  display: none;
}
::-webkit-scrollbar{
  width: 9px;
}
::-webkit-scrollbar-thumb{
  background-color: #FFAB07;
  border-radius: 3px;
}
::-webkit-scrollbar-track{
  background-color: #0B0D13;
}
::-webkit-scrollbar-thumb:hover{
  background: #d38f06;
  transition: background-color 0.5s ease-in-out;
}

@media (min-width: 1px) and (max-width: 659px) {
    .container1 {
      display: none;
    }
    .cel{
      display: flex;
    }

  }
  