@import url("https://fonts.googleapis.com/css?family=Roboto:wght@400; 700&display=swap");

        * {
            box-sizing: border-box;
        }

        body {
            font-family: "Roboto", sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            overflow-x: hidden;
        }

        .box {
            background-color: #9535f0;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 200px;
            margin: 10px;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 0px 3px 12px #9535f0;
            transform: translate(400%);
            transition: transform 0.85s ease;
        }
        .box1 {
            align-items: center;
            justify-content: center;
            width: 380px;
            height: 390px;
            display: flex;
            margin: 10px;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 0px 3px 12px #e4e4e4;
            transform: translate(400%);
            transition: transform 0.85s ease;
        }
           .box:nth-of-type(even), .box1:nth-of-type(even) {
            transform: translate(-400%);
        }

        .box.show, .box1.show {
            transform: translate(0);
        }

        .box h2 {
            font-size: 45px;
        }