body {
  background: #141417;
}
*{
  font-family: 'Montserrat', sans-serif;
}
.celup{
  border: 0;
  background: transparent;
  cursor: pointer;
  color: rgb(204, 204, 204);
  font-size: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 5vw;
  text-decoration: none;
}
.button-class {
  border: 0;
  background: transparent;
  cursor: pointer;
  color: white;
  font-size: 20px;
  width: 100%;
}

.is-dropdowns {
  position: fixed;
  top: 0;
  
}

.dropdowns {
  z-index: 2;
  padding: 14px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  height: fit-content;
  width: 90vw
}

body.open .dropdowns {
  opacity: 1;
  visibility: visible;
  translate: 0;
}

body.open .dropdowns::before {
  inset: 0;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  background: #141417;
  /* background: rgba(8, 0, 0, 0.1); */
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 10.5px );
border-radius: 10px; */
}

.dropdown > .button-class {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 12px;
  opacity: 0.8;
  height: 50px;
  text-align: left;
  font-size: 16px;
}

.dropdown-menu {
  display: grid;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.6s;
}

.dropdown-menu > .button-class {
  color: #f9f9f9;
  padding: 0 24px;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
}

.dropdown-menu > .button-class:hover {
  opacity: 1;
}

.dropdowns::before {
  content: "";
  position: absolute;
  left: -9999px;
  border-radius: 6px;
}

@media (width < 700px) {
  .dropdowns {
    opacity: 1;
    visibility: visible;
    translate: 0;
  }

  .dropdowns::before {
    inset: 0;
  }

  .img-class {
    display: block;
  }

  .dropdown-menu > .button-class {
    min-height: 70px;
  }

  .dropdown > .button-class:is(:focus, :hover) {
    opacity: 1;
  }

  .dropdown > .button-class:focus > .img-class {
    rotate: -180deg;
  }

  .dropdown > .button-class:focus ~ .dropdown-menu {
    height: 110px;
  }

  .dropdown > .button-class > .img-class {
    margin-left: auto;
  }
}
@keyframes fadeInRight {
  0% {
     opacity: 0;
     transform: translateX(20px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}

.cel-center {
 animation: fadeInRight 0.5s ease-in-out;
}
