.loginContainer{
  width: 34.8vw;
  height: 586px;
  background: rgba(34, 34, 34, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.6px);
  -webkit-backdrop-filter: blur(11.6px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}
.titu{
  font-weight: bold;
  font-size: 22px;
  margin: 0 auto;
  margin-top: 32px;
  color: white;
  margin-bottom: 42px;
}
.input {
  background-color: rgba( 57, 57, 57, 0.05 );
  height: 47px;
  padding: 20px;
  /* text-align: center; */
  border: 1px solid #BCB3A3;
  border-radius: 10px;
  margin: 0 auto;
  width: 25vw;
  margin-bottom: 12px;
}

.input:focus {
  color: #FFAB07;
  background-color: #212121;
  outline-color: #FFAB07;
  box-shadow: -3px -3px 15px #FFAB07;
  transition: .1s;
  transition-property: box-shadow;
}
.regi {
  background-color: #FFAB07;
  height: 47px;
  /* text-align: center; */
  border-radius: 10px;
  margin: 0 auto;
  width: 25vw;
  margin-top: 40px;
  color: black;
  align-items: center;
  border: none;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
}
.inicio-sesion{
  color: white;
  font-size: 13px;
  font-weight: normal;
  margin-left: 5.1vw;
  margin-top: 18px;
}
.caja-inicio-sesion{
  display: flex;
  flex-direction: row;
  font-size: 13px;
}
.linki{
  color: antiquewhite;
  margin-top: 18px;
  margin-left: 4px;
}
.linki:hover{
  color: #FFAB07;
  transition: ease 1s;
}
.but {
  background-color: #2D2D2D;
  height: 47px;
  /* text-align: center; */
  border-radius: 10px;
  margin: 0 auto;
  width: 25vw;
  margin-top: 32px;
  color: #B5AC9A;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}