.loginContainer{
  width: 34.8vw;
  height: 556px;
  background: rgba(34, 34, 34, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.6px);
  -webkit-backdrop-filter: blur(11.6px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  animation: fadeInDown 1.5s ease;
}
.signupContainer{
  width: 34.8vw;
  height: 468px;
  background: rgba(34, 34, 34, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.6px);
  -webkit-backdrop-filter: blur(11.6px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  animation: fadeInDown 1.5s ease;
}
.titu{
  font-weight: bold;
  font-size: 22px;
  margin: 0 auto;
  margin-top: 32px;
  color: white;
  margin-bottom: 42px;
}
.input {
  background-color: rgba( 57, 57, 57, 0.05 );
  height: 47px;
  padding: 20px;
  color: #BCB3A3;
  /* text-align: center; */
  border: 1px solid #BCB3A3;
  border-radius: 10px;
  margin: 0 auto;
  width: 25vw;
  margin-bottom: 12px;
}

.input:focus {
  color: #FFAB07;
  background-color: #212121;
  outline-color: #FFAB07;
  box-shadow: -3px -3px 15px #FFAB07;
  transition: .1s;
  transition-property: box-shadow;
}
.regi {
  background-color: #FFAB07;
  height: 47px;
  /* text-align: center; */
  border-radius: 10px;
  margin: 0 auto;
  width: 25vw;
  margin-top: 40px;
  color: black;
  align-items: center;
  border: none;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
}
.inicio-sesion{
  color: white;
  font-size: 13px;
  font-weight: normal;
  margin-left: 5.1vw;
  margin-top: 18px;
}
.caja-inicio-sesion{
  display: flex;
  flex-direction: row;
  font-size: 13px;
}
.linki{
  color: antiquewhite;
  margin-top: 18px;
  margin-left: 4px;
}
.linki:hover{
  color: #FFAB07;
  transition: ease 1s;
}
.but {
  background-color: #2D2D2D;
  height: 47px;
  /* text-align: center; */
  border-radius: 10px;
  margin: 0 auto;
  width: 25vw;
  margin-top: 26px;
  color: #B5AC9A;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}
::-webkit-scrollbar{
  width: 9px;
}
::-webkit-scrollbar-thumb{
  background-color: #FFAB07;
  border-radius: 3px;
}
::-webkit-scrollbar-track{
  background-color: #0B0D13;
}
::-webkit-scrollbar-thumb:hover{
  background: #d38f06;
  transition: background-color 0.5s ease-in-out;
}
@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
} 
@media (width < 700px){
  
}
@media (width < 500px) {
.loginContainer, .signupContainer{
  margin-top: 50px;
  width: 100vw;
}
.input{
  width: 87vw;
}
button{
  display: block;
}
.linki{
}
.regi{
  width: 87vw;
}
.but{
  width: 87vw;
}
.caja-inicio-sesion{
  width: 87vw;
}
}
.regi:active{
  transform: scale(0.9);
  transition: 0.4s ease;
}
.successMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
  text-align: center;
}
