*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
}
/* Si la fuente está alojada localmente */
header{
    background: rgba( 57, 57, 57, 0.05 );
    box-shadow: 0 8px 32px 0 ;
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    justify-content: space-between;
    border-radius: 10px;
    width: 100vw;
    display: flex;
    height: 60px;
    position: sticky;
    top: 0px;
    align-items: center;
    z-index: 3;
    padding: 0 2.7vw;
}
.button {
  text-decoration: none;
}


.button {
  margin-top: 7px;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  font-size: 14px;
  font-weight: 600;
}
.button{
  color: #BFC7D3;
  cursor: pointer;
}
.button:focus,
.button:hover {
  color: #FFAB07;
}

.button:focus:after,
.button:hover:after {
  width: 100%;
  left: 0%;
}

.button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #FFAB07;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.button:hover, .caja2:hover, .caja3:hover{
    color: #FFAB07;
    transition: ease-in-out 0.6s;
    cursor: pointer;
}
.logito{
    height: 24px;
    display: flex;
}
.navbar__logo-opciones{
  display: flex;
  justify-content: space-between;
  gap: 3.66vw;
}

.navbar__inicio-config {
  display: flex;
  flex-direction: row;
  gap: 2.7vw;
}

.navbar__opciones {
  display: flex;
  gap: 2.34vw;
}

.logitok{
  height: 16px;
  display: flex;
  margin-top: 7px;
}
.caja, cajaK{
    display: flex;
    cursor: pointer;
}
/* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    height: 18px;
    width: 16px;    
    margin-right: 7vw;
    margin-top: 3px;
  }
  
  .checkmark {
    position: relative;
    height: 1.3em;
    /* width: 1.3em; */
  }
  
  .checkmark span {
    width: 18px;
    height: 3px;
    background-color: white;
    position: absolute;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  
  .checkmark span:nth-child(1) {
    top: 10%;
  }
  
  .checkmark span:nth-child(2) {
    top: 50%;
  }
  
  .checkmark span:nth-child(3) {
    top: 90%;
  }
  
  .container input:checked + .checkmark span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
  }
  
  .container input:checked + .checkmark span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    -o-transform: translateY(-50%) rotate(-45deg);
  }
  
  .container input:checked + .checkmark span:nth-child(3) {
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    opacity: 0;
  }
  .celu{
      display: none;
  }

@media (min-width: 1px) and (max-width: 659px) {
    .stuff,.caja3,.caja2{
        display: none;
    }
    .celu {
        display: flex;
        width: 100dvw;
        justify-content: space-between;
    }
    .button{
      display: none;
    }
    .logito, .ini, button{
        display: none;
    }
    .logitoK{
        margin-left: 3vw;
        height: 24px;
    }
    header{
      padding: 0px;
    }
  
  } 
  @media (min-width: 1370px){     
  } 