@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.titulo{
    font-size: 68px;
    margin-top: 85px;
    color: beige;
    font-weight: bolder;
    margin-bottom: 16px;
}
.animated-text{
    margin-top: 85px;
    font-size: 68px;
    font-weight: bolder;
    min-width: 35%;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: ".";
    color: #FFAB07;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: rgb(0, 0, 0);
    border-left: 2px solid #FFAB07;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

.container1 {
    display: flex;
    flex-direction: column;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,20%{
        content: " en todo";
        font-weight: bolder;
    }
    21%,40%{
        content: " y descubrir";
        font-weight: bolder;

    }
    41%,60%{
        content: " seguro";
        font-weight: bolder;

    }
    61%,80%{
        content: " para todos";
        font-weight: bolder;

    }
    81%,100%{
        content: " y aprender";
        font-weight: bolder;

    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}
.conte{
    display: flex;
    margin-left: 5.12vw;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.wrapper {
  width: 90%;
  display: block;
  max-width: 1536px;
  margin-inline: auto;
  height: 160px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  display: flex;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.subtitu{
  color: white;
  display: flex;
  font-size: 17px;
  margin-left: 5.12vw;
  margin-bottom: 90px;
}

.itemLeft,
.itemRight {
  width: 11.7vw;
  height: 11.7vw;
  background-color: #333434;
  border-radius: 10px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.itemLeft {
  left: max(calc(100px * 8), 100%);
  animation-name: scrollLeft;
  display: flex;
  justify-content: center; /* Alinea horizontalmente al centro */
  align-items: center; /* Alinea verticalmente al centro */
}

/* .itemRight {
  right: max(calc(200px * 8), calc(100% + 200px));
  animation-name: scrollRight;
} */

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}
@media (max-width: 700px) {
.titulo, .animated-text{
  font-size: 30px;
  margin-top: 40px;
}
.wrap-img{
    width: 12.1vw;
    height: 12.1vw;
    display: flex;
  }
.itemLeft,
  .itemRight {
    width: 70px;
    height: 70px;
    background-color: #333434;
    border-radius: 6px;
    position: absolute;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  .itemLeft {
    left: max(calc(80px * 8), 100%);
    animation-name: scrollLeft;
  }
  
  @keyframes scrollLeft {
    to {
      left: -50px;
    }
  }
  .subtitu{
    font-size: 10px;
    margin-bottom: 40px;
  }
} 
@media (min-width: 710px){  
  .wrap-img{
    width: 7vw;
    height: 7vw;
    display: flex;
  }   
} 
::-webkit-scrollbar{
  width: 9px;
}
::-webkit-scrollbar-thumb{
  background-color: #FFAB07;
  border-radius: 3px;
}
::-webkit-scrollbar-track{
  background-color: #0B0D13;
}
::-webkit-scrollbar-thumb:hover{
  background: #d38f06;
  transition: background-color 0.5s ease-in-out;
}
/* Agrega esto a style1.css */

.blur {
  filter: blur(7px);
  transition: filter 0.3s ease;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}
.modal2{
  position: fixed;
  top: 60px;
  /* left: 50%; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translate(-50%, -50%); */
  border-radius: 8px;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}
.card {
  position: relative;
  perspective: 1000px;
  width: 30vw;
  height: 17vw;
  margin: 0 auto;
  margin-top:20px ;
}

.card .front,
.card .back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  background: #1e1e1e;
  backdrop-filter: blur( 16px );
  -webkit-backdrop-filter: blur( 16px );
  border-radius: 10px;
  padding: 36px 36px 44px 44px;
  transition: 1.2s;
  cursor: pointer;
  color: aliceblue;
  text-align: center;
  font-size: small;
}
.card .back{
  background-color: blue;
}

.back {
  transform: rotateY(180deg);
}

#cardCheckbox {
  scale: 0;
  position: absolute;
}

input:checked ~ .card .back {
  transform: rotateY(0);
}

input:checked ~ .card .front {
  transform: rotateY(-180deg);
}
@keyframes move {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
}
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000003;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 2vmin;
  height: 2vmin;
  border-radius: 2vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #ffc800;
  top: 15%;
  left: 11%;
  animation-duration: 49s;
  animation-delay: -18s;
  transform-origin: 16vw 13vh;
  box-shadow: 4vmin 0 0.6323227078791054vmin currentColor;
}
.background span:nth-child(1) {
  color: #ffba07;
  top: 42%;
  left: 61%;
  animation-duration: 17s;
  animation-delay: -2s;
  transform-origin: 3vw 14vh;
  box-shadow: -4vmin 0 0.6484452999837858vmin currentColor;
}
.background span:nth-child(2) {
  color: #ffc800;
  top: 10%;
  left: 34%;
  animation-duration: 41s;
  animation-delay: -35s;
  transform-origin: 17vw 10vh;
  box-shadow: -4vmin 0 0.746288808175841vmin currentColor;
}
.background span:nth-child(3) {
  color: #ffc800;
  top: 93%;
  left: 87%;
  animation-duration: 29s;
  animation-delay: -32s;
  transform-origin: 20vw 11vh;
  box-shadow: 4vmin 0 1.2125387047534406vmin currentColor;
}
.background span:nth-child(4) {
  color: #ffba07;
  top: 85%;
  left: 4%;
  animation-duration: 34s;
  animation-delay: -32s;
  transform-origin: 2vw 9vh;
  box-shadow: -4vmin 0 1.465553383826303vmin currentColor;
}
.background span:nth-child(5) {
  color: #ffba07;
  top: 64%;
  left: 56%;
  animation-duration: 32s;
  animation-delay: -21s;
  transform-origin: 12vw -16vh;
  box-shadow: -4vmin 0 1.3091528832425805vmin currentColor;
}
.background span:nth-child(6) {
  color: #ffba07;
  top: 24%;
  left: 12%;
  animation-duration: 16s;
  animation-delay: -36s;
  transform-origin: -1vw 22vh;
  box-shadow: 4vmin 0 1.2127697692801345vmin currentColor;
}
.background span:nth-child(7) {
  color: #ffc800;
  top: 4%;
  left: 97%;
  animation-duration: 38s;
  animation-delay: -37s;
  transform-origin: -7vw 9vh;
  box-shadow: -4vmin 0 0.9799705202288431vmin currentColor;
}
.background span:nth-child(8) {
  color: #ffba07;
  top: 91%;
  left: 36%;
  animation-duration: 11s;
  animation-delay: -39s;
  transform-origin: 0vw -7vh;
  box-shadow: 4vmin 0 1.2743806691546695vmin currentColor;
}
.background span:nth-child(9) {
  color: #ffc800;
  top: 23%;
  left: 24%;
  animation-duration: 26s;
  animation-delay: -1s;
  transform-origin: -12vw -22vh;
  box-shadow: 4vmin 0 0.5401498341362136vmin currentColor;
}
.background span:nth-child(10) {
  color: #ffba07;
  top: 96%;
  left: 12%;
  animation-duration: 24s;
  animation-delay: -30s;
  transform-origin: 23vw -15vh;
  box-shadow: -4vmin 0 1.1110266857717495vmin currentColor;
}
.background span:nth-child(11) {
  color: #ffc800;
  top: 6%;
  left: 83%;
  animation-duration: 34s;
  animation-delay: -28s;
  transform-origin: 22vw -12vh;
  box-shadow: 4vmin 0 1.1163649796449155vmin currentColor;
}
.background span:nth-child(12) {
  color: #ffba07;
  top: 69%;
  left: 40%;
  animation-duration: 26s;
  animation-delay: -29s;
  transform-origin: 12vw -3vh;
  box-shadow: -4vmin 0 0.5116059585266568vmin currentColor;
}
.background span:nth-child(13) {
  color: #ffc800;
  top: 94%;
  left: 18%;
  animation-duration: 37s;
  animation-delay: -13s;
  transform-origin: -1vw 22vh;
  box-shadow: 4vmin 0 0.6187614851443837vmin currentColor;
}
.background span:nth-child(14) {
  color: #ffc800;
  top: 63%;
  left: 83%;
  animation-duration: 23s;
  animation-delay: -28s;
  transform-origin: 0vw -11vh;
  box-shadow: 4vmin 0 0.6578260739132578vmin currentColor;
}
.background span:nth-child(15) {
  color: #ffba07;
  top: 34%;
  left: 55%;
  animation-duration: 32s;
  animation-delay: -33s;
  transform-origin: 16vw 9vh;
  box-shadow: -4vmin 0 1.3821974397480083vmin currentColor;
}
.background span:nth-child(16) {
  color: #ffc800;
  top: 76%;
  left: 16%;
  animation-duration: 47s;
  animation-delay: -2s;
  transform-origin: -11vw -15vh;
  box-shadow: -4vmin 0 1.1746069018940053vmin currentColor;
}
.background span:nth-child(17) {
  color: #ffc800;
  top: 6%;
  left: 63%;
  animation-duration: 38s;
  animation-delay: -25s;
  transform-origin: -20vw 20vh;
  box-shadow: 4vmin 0 0.6003200918310927vmin currentColor;
}
.background span:nth-child(18) {
  color: #ffc800;
  top: 60%;
  left: 33%;
  animation-duration: 8s;
  animation-delay: -25s;
  transform-origin: 0vw 20vh;
  box-shadow: 4vmin 0 0.7709134654645058vmin currentColor;
}
.background span:nth-child(19) {
  color: #ffba07;
  top: 4%;
  left: 14%;
  animation-duration: 24s;
  animation-delay: -23s;
  transform-origin: 23vw -18vh;
  box-shadow: -4vmin 0 0.8532200682727817vmin currentColor;
}
.background span:nth-child(20) {
  color: #ffba07;
  top: 47%;
  left: 98%;
  animation-duration: 43s;
  animation-delay: -14s;
  transform-origin: -8vw -22vh;
  box-shadow: 4vmin 0 1.298456262338618vmin currentColor;
}
.background span:nth-child(21) {
  color: #ffc800;
  top: 6%;
  left: 30%;
  animation-duration: 7s;
  animation-delay: -23s;
  transform-origin: 9vw -13vh;
  box-shadow: -4vmin 0 1.3901008920832683vmin currentColor;
}
.background span:nth-child(22) {
  color: #ffc800;
  top: 40%;
  left: 31%;
  animation-duration: 33s;
  animation-delay: -42s;
  transform-origin: -18vw 15vh;
  box-shadow: 4vmin 0 1.4133728755795631vmin currentColor;
}
.background span:nth-child(23) {
  color: #ffba07;
  top: 26%;
  left: 29%;
  animation-duration: 41s;
  animation-delay: -19s;
  transform-origin: -21vw 9vh;
  box-shadow: -4vmin 0 1.3212453677741731vmin currentColor;
}
.background span:nth-child(24) {
  color: #ffba07;
  top: 44%;
  left: 95%;
  animation-duration: 54s;
  animation-delay: -7s;
  transform-origin: 13vw 16vh;
  box-shadow: 4vmin 0 1.3985508127506194vmin currentColor;
}
.background span:nth-child(25) {
  color: #ffc800;
  top: 84%;
  left: 37%;
  animation-duration: 22s;
  animation-delay: -42s;
  transform-origin: -17vw 19vh;
  box-shadow: -4vmin 0 1.0500511485362987vmin currentColor;
}
.background span:nth-child(26) {
  color: #ffba07;
  top: 9%;
  left: 4%;
  animation-duration: 19s;
  animation-delay: -13s;
  transform-origin: -4vw 16vh;
  box-shadow: -4vmin 0 0.8512893768624421vmin currentColor;
}
.background span:nth-child(27) {
  color: #ffc800;
  top: 67%;
  left: 71%;
  animation-duration: 46s;
  animation-delay: -12s;
  transform-origin: 18vw 22vh;
  box-shadow: -4vmin 0 0.8002321104212571vmin currentColor;
}
.background span:nth-child(28) {
  color: #ffc800;
  top: 6%;
  left: 77%;
  animation-duration: 44s;
  animation-delay: -22s;
  transform-origin: 23vw 10vh;
  box-shadow: 4vmin 0 1.097076279197137vmin currentColor;
}
.background span:nth-child(29) {
  color: #ffba07;
  top: 90%;
  left: 17%;
  animation-duration: 25s;
  animation-delay: -28s;
  transform-origin: 0vw -7vh;
  box-shadow: 4vmin 0 0.71825350696745vmin currentColor;
}
.background span:nth-child(30) {
  color: #ffba07;
  top: 37%;
  left: 98%;
  animation-duration: 7s;
  animation-delay: -42s;
  transform-origin: 19vw -7vh;
  box-shadow: 4vmin 0 1.1850482413188776vmin currentColor;
}
.background span:nth-child(31) {
  color: #ffc800;
  top: 6%;
  left: 66%;
  animation-duration: 14s;
  animation-delay: -24s;
  transform-origin: 24vw 2vh;
  box-shadow: 4vmin 0 0.6439642114875048vmin currentColor;
}
.background span:nth-child(32) {
  color: #ffc800;
  top: 99%;
  left: 50%;
  animation-duration: 28s;
  animation-delay: -37s;
  transform-origin: 0vw 10vh;
  box-shadow: -4vmin 0 1.2796477176392933vmin currentColor;
}
.background span:nth-child(33) {
  color: #ffc800;
  top: 10%;
  left: 92%;
  animation-duration: 14s;
  animation-delay: -2s;
  transform-origin: -1vw 2vh;
  box-shadow: -4vmin 0 1.1215094844861802vmin currentColor;
}
.background span:nth-child(34) {
  color: #ffc800;
  top: 79%;
  left: 71%;
  animation-duration: 8s;
  animation-delay: -28s;
  transform-origin: 20vw 0vh;
  box-shadow: -4vmin 0 1.0159671420663936vmin currentColor;
}
.background span:nth-child(35) {
  color: #ffba07;
  top: 46%;
  left: 43%;
  animation-duration: 51s;
  animation-delay: -20s;
  transform-origin: 9vw -8vh;
  box-shadow: 4vmin 0 0.596330152991265vmin currentColor;
}
.background span:nth-child(36) {
  color: #ffba07;
  top: 36%;
  left: 52%;
  animation-duration: 52s;
  animation-delay: -10s;
  transform-origin: -22vw 12vh;
  box-shadow: 4vmin 0 0.6252308582202029vmin currentColor;
}
.background span:nth-child(37) {
  color: #ffba07;
  top: 54%;
  left: 4%;
  animation-duration: 18s;
  animation-delay: -19s;
  transform-origin: -13vw 18vh;
  box-shadow: 4vmin 0 0.6921658324446247vmin currentColor;
}
.background span:nth-child(38) {
  color: #ffba07;
  top: 18%;
  left: 95%;
  animation-duration: 44s;
  animation-delay: -44s;
  transform-origin: 23vw -3vh;
  box-shadow: 4vmin 0 0.7954482815629227vmin currentColor;
}
.background span:nth-child(39) {
  color: #ffc800;
  top: 41%;
  left: 7%;
  animation-duration: 49s;
  animation-delay: -50s;
  transform-origin: 23vw 5vh;
  box-shadow: -4vmin 0 1.259762845400515vmin currentColor;
}
.background span:nth-child(40) {
  color: #ffc800;
  top: 90%;
  left: 48%;
  animation-duration: 49s;
  animation-delay: -15s;
  transform-origin: -11vw 13vh;
  box-shadow: -4vmin 0 1.0043239622551678vmin currentColor;
}
