::-webkit-scrollbar{
  width: 9px;
}

::-webkit-scrollbar-thumb{
  background-color: #FFAB07;
  border-radius: 3px;
}
::-webkit-scrollbar-track{
  background-color: #0B0D13;
}
::-webkit-scrollbar-thumb:hover{
  background: #d38f06;
  transition: background-color 0.5s ease-in-out;
}
*{
  font-family: 'Montserrat', sans-serif;
}
.titu-portafolio{
color: honeydew;
margin-top: 20px;
font-size: 5.34vw;
font-weight: bold;
margin-bottom: 14px;
animation: fadeInDown 0.5s ease-in-out;

}
.caja-portafolio{
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-left: 8.14vw;
  margin-right: 8.14vw;
  
}
.plata{
  color: aliceblue;
  font-size: 8.15vw;
  animation: fadeInDown 0.5s ease-in-out;

}
.profit {
  color: #05DB74;
  font-size: 4.07vw;
  margin-top: 14px;
}

.profit.animate {
  animation: lightSpeedIn 1.5s ease-in-out;
}
.caja-but{
  display: flex;
  flex-direction: row;
}

.but-portafolio{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 38.1vw;
  background-color: #05C669;
  border-radius: 10px;
  height: 46px;
  font-weight: 700;
  color: white;
  align-items: center;
  text-align: center;
  align-content: center;
  font-size: 3.5vw;
}

.buy-button{
  background-color: #E49A09;
}

.but-portafolio > img {
  width: 3.3vw;
}

.caja-but{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.dona-container {
  grid-column: 1 / 2;
  position: relative;
  width: 42.49vw;
  height: 42.49vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dona {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  background: conic-gradient(
    #595959 0% 17.7%,  
    #359C4C 17.7% 62.7%, 
    #297B95 62.7% 73.5%, 
    #AE660F 73.5% 80%,
    #595959 80% 100%  
  );
  -webkit-mask: 
    radial-gradient(farthest-side, transparent calc(100% - 3.88vw), white calc(100% - 10.88vw));
  mask: 
    radial-gradient(farthest-side, transparent calc(100% - 3.88vw), white calc(100% - 10.88vw));
}

.dona-text {
  position: absolute;
  color: white;
  font-size: 3.1vw;  /* Ajusta el tamaño de la fuente según el tamaño de la vista */
  text-align: center;
  line-height: 1;
}
/* ver esto */
.caja-reparticion{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: center;
  align-content: center;
}
.caja-porcentaje{
  grid-column: 2 / 3;
  width: 100%;
  border-radius: 5px;
  border: #464646 1px solid;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.cuadra{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.c1{
  width: 10px;
  height: 100%;
  border-radius: 2px;
}

.t1{
  font-weight: 600px;
  font-size: 1.78vw;
  color: white;
  align-items: center;
  text-align: center;
  align-content: center;
  line-height: 16px; /* Igual a la altura del contenedor */
}
/* hasta aca */
.rendimiento-titu{
font-weight: bolder;
justify-content: flex-start;
margin-top: 16px;
color: white;
margin-bottom: 19px;
font-size: 4.1vw;
}
.caja-rendimiento{
  width: 86vw;
  height: 56vw;
  margin: 0 auto;
}
.caja-chiki{
  width: 86vw;
}
.ren{
  background-color: #202020;
  height: 46px;
  width: 100%;
  border-radius: 4px;
  margin-top: 5px;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  }
.ren-nombre{
  color: white;
  margin-left: 2.54vw;
  font-weight: 600;
  font-size: 3.3vw;
}
.ren-img{
  width: 5.59vw;
  height: auto;
  margin-left: 2.54vw ;
}
.ren-green{
  font-size: 2.5vw;
  color: #05DB74;
  margin-left: 7.12vw;
}
.ren-red{
  font-size: 2.5vw;
  color: #FF3D00;
  margin-left: 7.12vw;
}
.ren-ren{
  margin-left: auto;
  margin-right: 2.54vw;
  display: flex;

flex-direction: row;
}
.ren1-green{
  font-size: 2.5vw;
  color: #05DB74;
}
.ren1-red{
  font-size: 2.5vw;
  color: #FF3D00;
}
@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}
@keyframes lightSpeedIn {
  0% { 
     transform: translateX(100%) skewX(-30deg); 
     opacity: 0; 
  } 
  60% { 
     transform: translateX(-20%) skewX(30deg); 
     opacity: 1; 
  } 
  80% { 
     transform: translateX(0%) skewX(-15deg); 
     opacity: 1; 
  } 
  100% { 
     transform: translateX(0%) skewX(0deg); 
     opacity: 1; 
  } 
} 
.sector{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.sector > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 12px;
}

.sector div {
  font-size: .6rem;
}

.t-img{
  height: 5vw;
  width: 5vw;
  border-radius: 50px;
}
.porc{
  font-size: 2vw;
  font-weight: normal;
  color: white;
}
.caja-act{
  width: 100%;
  border-radius: 3px;  
  border: #464646 solid 3px;
  display: flex;
  flex-direction: column;
}
.fecha{
  margin-top: 14px;
  font-size: 3vw;
  color: white;
  font-weight: normal;
}
.act-pad{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 6.1vw;
  margin-right: 6.1vw;
}
.infoo{
  background-color: #262626;
  aspect-ratio: 290/66;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.info-img{
  border-radius: 74px;
  height: 11.7vw;
  width: 11.7vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}
.caja-info{
  display: flex;
  flex-direction: column;
}
.compra{
  font-size: 3vw;
  font-weight: bold;
  color: white;
}
.qcompra{
  font-size: 2.54vw;
  font-weight: bold;
  color: #B6B6B6;
}
.info-porc{
  color: #05DB74;
  margin-left: auto;
  margin-right: 2.54vw;
  font-size: 3.5vw;
}
.info-porc1{
  color: #FF3D00;
  margin-left: auto;
  margin-right: 2.54vw;
  font-size: 3.5vw;
}
.caja-act {
  width: 100%;
  border-radius: 3px;  
  border: #464646 solid 3px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  height: 300px; /* Define la altura fija según tus necesidades */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.caja-act::-webkit-scrollbar {
  width: 6px;
}

.caja-act::-webkit-scrollbar-thumb {
  background-color: #FFAB07;
  border-radius: 3px;
}

.caja-act::-webkit-scrollbar-track {
  background-color: #0B0D13;
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px); /* Ajusta el valor según cuánto quieres que se desplace */
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Empieza en la posición final de fadeOutUp */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s ease, transform 1.5s ease;
}
@media (width > 500px) {
  .titu-portafolio{
    font-size: 2vw;
  }
  .plata{
    font-size: 3.3vw;
  }
  .profit{
    font-size: 1.6vw;
  }
  .but-portafolio, .but-portafolio2{
    width: 18vw;
    height: 6vw;
    font-size: 1.6vw;
  }

  .but-portafolio > img {
    width: 2.26vw;
  }

  .caja-porcentaje {
    padding: 24px;
  }

  .sector div {
    font-size: 1rem;
  }

  .t1{
    font-size: 1vw;
  }
  .caja-rendimiento{
    margin: 0 auto;
  }

  .caja-reparticion {
    gap: 60px;
  }

  .caj-port{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .caja-fle{
    display: flex;
    flex-direction: row;
  }
  .porc{
    font-size: 14px;
  }
  .t-img{
    height: clamp(20px, 2vw, 27px);
    width: clamp(20px, 2vw, 27px);
  }
  .caja-but{
    display: flex;
    gap: 6.9vw;
  }
  .rendimiento-titu{
    font-size: 1.7vw;
  }
  .caja-fle{
    display: flex;
    flex-direction: row;
  }
  .ren{
    width: 28vw;
  }
  .ren-img{
    width: 2.7vw;
    height: auto;
    margin-left: 1vw;
  }
  .ren-nombre{
    font-size: 1.25vw;
    margin-left: 1vw;
  }
  .ren-red,.ren-green,.ren1-green,.ren1-red{
    font-size: 1.25vw;
  }
  .ren-green, .ren-red{
    margin-left: 2vw;
  }
  .ren-ren{
    margin-right: 1vw;
  }
  .dona-container{
    height: 22.5vw;
    width: 22.5vw;
  }
  .dona-text{
    font-size: 2vw;
  }
  .dona{
    border-radius: 90%;
  }
  .caja-rendimiento{
    height: auto;
    width: 36.1vw;
  }
  .caja-chiki{
    width: 31.6vw;
  }
  .info-img{
    height: 6vw;
    width: 6vw;
  }
  .caja-fle{
    display: flex;
  }
  .compra{
    font-size: 2vw;
  }
  .qcompra{
    font-size: 1.5vw;
  }
  .info-porc1{
    font-size: 2vw;

  }
  .info-porc{
    font-size: 2vw;
    
  }
  .fecha{
    font-size: 2vw;
  }
  .infoo{
    height: 100px;
    width: 100%;
  }
}