.waves {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 120px;
    z-index: 1; /* Este z-index asegura que las olas estén por debajo del contenido */
}

.wave {
    background-image: url('../img/wave.svg');
    background-size: 1589px 150px;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    
    /* left: 0; */
}

.wave.wave1 {
    animation: wave-animation-f 30s linear infinite;
    bottom: 0;
    z-index: 1;
    opacity: 1;
}

.wave.wave2 {
    animation: wave-animation-b 15s linear infinite;
    bottom: 30px;
    z-index: 1;
    opacity: 0.5;
}

.wave.wave3 {
    animation: wave-animation-f 10s linear infinite;
    bottom: 60px;
    z-index: 1;
    opacity: 0.3;
}

.wave.wave4 {
    animation: wave-animation-b 13s linear infinite;
    bottom: 90px;
    z-index: 1;
    opacity: 0.1;
}

@keyframes wave-animation-f {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1589px;
    }
}

@keyframes wave-animation-b {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1589px;
    }
}
